header{
    background:linear-gradient(45deg,darkred,purple,yellow);
    background-color: yellow;
    color:white;
    padding: 10px;
    font-size:50px;
    text-align: center;
    
}
body{
    background:linear-gradient(45deg,blue,skyblue);
}
#photo{
    border-radius: 200px;
}

a{
    text-align: center;
    text-decoration:none;
    padding:10px 10px;
    display: inline;
    font-size: 18px;
    color:black;
}
a:hover{
    background: linear-gradient(45deg,rgb(188, 29, 183),rgb(198, 48, 163));
    border-radius: 50px;
}
div{
    background:linear-gradient(45deg, rgba(197, 188, 18, 0.664),rgb(39, 203, 203),rgb(56, 34, 125));
    margin:auto;
}
img{
    margin:auto;
    box-shadow: 0 5px 3px black;
}
p{
    font-family: sans-serif;
}
html{
    scroll-behavior:smoothly;
}